// Big Button
.big-button {
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: 0.5;
}

// Button
.button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    padding: 0;
    color: $off-white
}