// Wifget
.widget {
    background-color: $light-blue;
    margin-bottom:$xl-size;
}

.widget-messege{
    color:$off-white;
    padding:$l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue, 10%)
}

// Widget header
.widget-header {
    background-color: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}